version: "3"
services:
  backend:
    build: Backend
    image: vada-backend
    ports:
      - "5000:80"
    restart: "no"
    environment:
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
    depends_on:
      - db
  db:
    image: "mariadb:10.3"
    ports:
      - "3306:3306"
    restart: "no"
    volumes:
      - ./DB:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
    command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_czech_ci']
